<div class="center jumbotron">
  <h1 class="welcome-title">Welcome to Voody</h1>


	<%= form_tag(recipes_show_path) do %>
		<h2 class="search-text">
			Search Recipes
		</h2>

	<%= text_field_tag :recipes, "", class: "form-control front-page" %>

  <%= submit_tag 'Search', class: "btn btn-lg btn-primary" %>
	<% end %>

</div>
